@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;

  /*background: linear-gradient(to bottom, #3b1f5c 0%, #1a0f2b 40%, #0a0a0a 100%);*/
  background: linear-gradient(
    90deg,
    #2e0a3e,
    #511576,
    #86497e,
    #bb6772,
    #e19f84
  );
}
